@font-face {
	font-family: nunito;
	src: url(../fonts/Nunito-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: nunito;
	src: url(../fonts/Nunito-Bold.ttf);
	font-weight: bold;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: nunito, sans-serif;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 2em;
	margin-bottom: 20px;
	text-transform: uppercase;
}

h2 {
	font-size: 1.1em;
	color: #222;
}

h3 {
	font-size: 0.95em;
	font-weight: normal;
	color: #222;
	margin: 6px 0;
}

h4 {
	font-size: 0.9em;
	margin-bottom: 20px;
}

h5 {
	font-size: 0.8em;
	font-weight: normal;
	margin-bottom: 8px;
}

button {
	border: none;
}

button:hover {
	cursor: pointer;
}


/* header & navigation */

header {
	position: sticky;
	top: 0;
	background-color: #fff;
	box-shadow: 0 0 0 3px rgba(222, 222, 222, 0.2);
	z-index: 1;
}

.cupomDesconto {
	display: block;
	color: #fff;
	background-color: #1c8adb;
	font-size: 0.8em;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

.cupomDesconto span {
	background-color: blueviolet;
}

.headerContainer {
	display: flex;
	flex-flow: row wrap;
	height: auto;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
}

.headerContainer img {
	height: 30px;
	width: auto;
}

.headerContainer span {
	margin: 5px 50px;
}

.userName {
	display: flex;
	padding: 0 10px;
}

.userName p {
	padding-left: 10px;
	padding-right: 30px;
	font-size: 0.85em;
	line-height: 1.15em;
}

#formSearch {
	display: flex;
}

#search {
	width: 400px;
	height: 26px;
	border: 2px solid #dedede;
	border-radius: 30px;
	padding-left: 10px;
}

#search:hover {
	background-color: rgba(189, 186, 255, 0.3);
	border-radius: 30px;
	box-shadow: 0 0 3px blueviolet;
	transition-duration: 8ms;
}

#searchButton {
	margin-left: 5px;
	background-color: #fff;;
}

#searchButton img:hover {
	border-radius: 30px;
	box-shadow: 0 0 3px blueviolet;
}

#cart {
	border: none;
	background-color: #fff;
}

#cart img:hover {
	border-radius: 30px;;
	box-shadow: 0 0 3px blueviolet;
}

#searchResult {
	display: none;
	text-align: center;
	background-color: #1c8adb;
	color: #fff;
	padding: 50px 0;
}






nav ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
	width: 75%;
	height: auto;
	position: relative;
}

nav li {
	display: block;
	font-size: 0.95em;
}

nav a {
	display: block;
	color: #222;
	text-align: center;
	padding: 10px;
	transition-duration: 0.3s;
}

nav a:hover {
	color: #1c8adb;
	font-weight: bold;
}
  
.dropdownContent {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: auto;
	background-color: #fff;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.dropdownContentDP {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: auto;
	background-color: #fff;
	box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
}

.dropdownContainer {
	display: flex;
	justify-content: space-between;
}

.dropdownColumns {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.drpLinks {
	flex: 1;
}

.categoryContainer {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	margin: 15px 15px 0 0;
	visibility: hidden;
}

.categoryList {
	flex-flow: column;
}

.categoryList li {
	margin-bottom: 8px;
}

.categoryTitle {
	font-weight: bold;
	color: #1c8adb;
	padding-bottom: 8px;
}

.drpDP, .drpDP1 {
	display: inherit;
	flex-flow: row;
	justify-content: space-evenly;
	color: black;
	background-color: #f5f5f5;
	font-size: 0.95em;
	text-decoration: none;
	width: 200px;
	transition-duration: 0.3s;
}

.drpLinks a {
	padding: 12px 16px;
}

.drpLinks span {
	padding: 10px;
	cursor: pointer;
}

.drpDP:hover, .drpDP1:hover {
	background-color: #ddd;
}

.dropdownImg {
	align-items: center;
	position: relative;
}

.bg {
	position: absolute;
	background-color: #222;
	top: 0;
	width: 240px;
	height: 80%;
	margin: 20px;
	border-radius: 10px;
}

.dropdownImg img {
	position: relative;
	width: 240px;
	height: 80%;
	margin: 20px;
	border-radius: 10px;
	mask-image: linear-gradient(to right, black 40%, transparent);
	flex: 1;
}

.imgText {
	display: flex;
	flex-flow: column;
	position: absolute;
	top: 60px;
	left: 50px;
	z-index: 1;
}

.imgText p {
	text-align: left;
	font-size: 1.3em;
	line-height: 1.3em;
	color: #fff;
	text-shadow: 2px 2px 5px #222;
	margin-bottom: 20px;
}

.dropdownImg button {
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	background-color: rgba(0,0,0,0.1);
	padding: 10px 20px;
	border: 1px solid #fff;
	border-radius: 10px;
}

.dropdownImg button:hover {
	color: #222;
	background-color: rgba(255, 255, 255,0.7);
	box-shadow: 0 0 5px rgba(22,22,22,0.8);;
	border: 1px solid rgba(22,22,22,1);
	transition-duration: 0.5s;
}

/* evita o padding setado no a lá de cima */
.dropdownImg a {
	padding: 0;
}


.drpDP:hover .categoryContainer {visibility: visible;}


.dropdown:hover .dropdownContent {display: block;}



.departmentContainer {
	display: flex;
	flex-flow: column;
	justify-content: start;
	margin-top: 20px;;
	margin-left: 30px;
	width: 60%;
}

.departmentContainer p {
	font-size: 1.1em;
	margin-bottom: 20px;
}

.bg2 {
	position: absolute;
	background-color: #222;
	top: 0;
	width: 240px;
	height: 87%;
	margin: 20px;
	border-radius: 10px;
}

.categoryContainerDP {
	display: flex;
	flex-flow: row;
	justify-self: space-between;
}



.dropdown:hover .dropdownContentDP {display: block;}


.featured img {
	width: 100%;
	height: auto;
}

.b2 {
	position: absolute;
	background-color: #222;
	top: 0;
	width: 240px;
	height: 87%;
	margin: 20px;
	border-radius: 10px;
}



/* new products */


.release {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: 80px;
	margin-bottom: 10px;
	margin-inline: 12%;
	padding-inline: 10px;
}

.release a {
	color: #222;
	font-weight: bold;
}

.release a:hover {
	color: #1c8adb;
	text-decoration: underline;
}

.swiper {
	width: 75%;
	height: auto;
	z-index: 0;
	position: relative;
}

.swiper-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.swiper-slide {
	width: 200px;
}


.productContainer {
    display: flex;
    flex-flow: row wrap;
	justify-content: space-evenly;
    padding-bottom: 50px;
	margin-inline: 10%;
}

article {
    color: #222;
    font-size: 1em;
    height: auto;
    width: 200px;
	text-align: left;
    margin: 10px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 1px #222;
	position: relative;
}

.discountCard {
	position: absolute;
	left: 40%;
	font-size: 0.65em;
	color: #fff;
	background-color: #5ec0be;
	text-transform: uppercase;
	font-weight: bold;
	border: 3px solid #5ec0be;
	border-radius: 3px;
	padding-inline: 10px;
	margin-top: 8px;
}

article:hover {
	box-shadow: 0 0 3px blueviolet;
	transition-duration: 0.3s;
}

article img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
	padding: 0;
}

article img:hover {
	transform: scale(1.2);
}

.imgProduct {
	position: relative;
}

.newProduct {
	position: absolute;
	left: 0;
	top: 0;
	font-size: 0.75em;
	background-color: #12588b;
	color: #fff;
	text-transform: uppercase;
	border: 5px solid #12588b;
	border-radius: 5px;
}

.price {
    margin-bottom: 6px;
    font-weight: bold;
	font: 1.2em;
	color: #12588b;
}

.priceInfo {
	font-size: 0.85em;
	text-decoration: line-through;
}

.paymentInfo {
	font-size: 0.85em;
	margin-bottom: 10px;
}

article button {
    margin-top: 5px;
	background-color: #1c8adb;
	font-size: 1em;
	font-weight: bold;
	color: #fff;
	width: 100%;
	height: 40px;
    border: 1px solid #1c8adb;
	border-radius: 5px;
	box-shadow: 0 0 1px #1c8adb;
}

article button:hover {
	background-color: #12588b;
	box-shadow: 0 0 3px blueviolet;
}


.swiper-button-next, .swiper-button-prev {
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 40%;
	border: #1c8adb 2px solid;
	box-shadow: 0 0 3px blueviolet;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
	color: #fff;
	background-color: #1c8adb;
	box-shadow: 0 0 3px blueviolet;
	transition-duration: 0.3s;
}

.swiper-pagination {
	position: relative;
	margin-top: 15px;
}


.textContent {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	margin: 80px 15%;
}

.textContent2 {
	background-color: #dedede;
	padding-top: 5px;
	padding-bottom: 5px;
}

.textContent img {
	width: 500px;
	height: auto;
}

.text1 {
	margin-left: 40px;
}

.text1 p {
	margin-bottom: 10px;
}

.text2 h1 {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 30px;
}

.block {
	display: flex;
	align-items: center;
	margin-right: 40px;
	margin-bottom: 40px;
}

.block img {
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 20px;
}

.featured2 {
	position: relative;
	display: flex;
	align-items: center;
	margin-top: 60px;
}

.featured2 p {
	position: absolute;
	width: 100%;
	font-size: 1.5em;
	color: #fff;
	background-color: #1c8adb;
	text-align: center;
	text-shadow: 1px 1px 5px #222;
	padding: 30px 0;
}

.newsletter {
	display: block;
	justify-content: center;
	margin-bottom: 40px;
}

.newsletter h2 {
	text-align: center;
	margin-top: 80px;
	margin-bottom: 20px;
}

.newsletter span {
	color: #1c8adb;
}

.newsletterContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	background-color: #dedede;
	margin: 10px 15%;
	height: auto;
	padding: 60px 0;
	border-radius: 10px;
}

.newsletterItem {
	margin: 10px;
}

#clientName, #clientEmail {
	width: 180px;
	height: 40px;
	border: 2px solid #dedede;
	border-radius: 10px;
	padding-left: 10px;
}

#clientName:hover, #clientEmail:hover {
	background-color: rgba(189, 186, 255, 0.3);
	border-radius: 10px;
	box-shadow: 0 0 3px blueviolet;
	transition-duration: 8ms;
}

.newsletterButton input {
	background-color: #1c8adb;
	font-size: 1em;
	color: #fff;
	width: 100px;
	height: 40px;
    border: 1px solid #1c8adb;
	border-radius: 5px;
	box-shadow: 0 0 1px #1c8adb;
}

.newsletterButton input:hover {
	background-color: #12588b;
	box-shadow: 0 0 3px blueviolet;
}

.privacyCheck {
	font-size: 0.8em;
}

.privacyCheck a {
	color: #222;
	text-decoration: underline;
}

.subscribe input:hover {
	cursor: pointer;
}



/* footer */


.aboutSection {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: start;
	background-color: #f5f5f5;
	padding-top: 40px;
	padding-inline: 15%;
	padding-bottom: 40px;
}

.aboutSection a {
	color: #222;
}

.aboutSection a:hover {
	color: #12588b;
}

.socialMedias {
	display: inherit;
	flex-flow: column;
}

.avantiSocial img {
	filter: grayscale(1);
	width: 140px;
	height: auto;
	margin: 15px;
}

.socialIcons {
	display: inherit;
	justify-content: space-between;
}

.socialIcons img {
	width: 20px;
	height: 20px;
	margin: 15px;
}

.contactLinks {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 15px;
}

.contactColumn {
	display: inherit;
	flex-flow: column;
	margin-inline: 25px;
}

.contactColumn span {
	font-size: 0.9em;
}

.paymentmethods {
	display: flex;
	flex-flow: row wrap;
}

.paymentMethods img {
	width: 25px;
	height: auto;
	margin: 25px 10px 0;
}

.footerInfo {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	padding-inline: 15%;
	margin: 40px auto;
}

.footerText {
	text-align: center;
	font-size: 0.8em;
	margin-inline: 15%;
	margin-bottom: 20px;
}

.footerIcons img {
	width: 40px;
	height: auto;
	margin: 0 15px;
}